.container{background-color: red;
    height: 200px;
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;}

.container div{background-color: greenyellow;
    padding: 10px;
    margin: 10px;}

#id0{order:1;
    flex-grow: 2;}